@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <p>1 USD = @ViewData["UsdToPln"] PLN</p>
        <p>1 EUR = @ViewData["EurToPln"] PLN</p>

        <p>@Html.ActionLink("Download", "GetExcelFile", "Home", new { currencyName = "usd" }, null)</p>
    </div>